*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Times New Roman', Times, serif;
}

section{
    color: white;
}

.section__color{
    background-color: #234240;
    padding: 50px 0;
}

.container{
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

.button__fill{
    background-color: rgb(1, 131, 151);
    padding: 15px 30px;
    border-radius: 24px;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.button__fill:hover{
    color: rgb(1, 131, 151);
    background-color: white;
    transition: 0.5s ease-in-out;
}

/* ======================Navigation section======================== */



/* ================Mobile============ */



/* ===================Intro Section================== */
.intro{
    width: 50%;
}

.intro h1{
    font-size: 2rem;
}

.intro p{
    margin: 2rem 0;
}

@media screen and (max-width:600px) {
    .intro{
        width: 100%;
    }
}

